[run] branch = True source = xlearn parallel = True omit = * / xlearn /
                                                           externals      /*
                                                                           */
                                                               benchmarks /*
                                                                           **/
                                                                   setup.py
